/* fmsn color pallete */

body {
  background: linear-gradient(-45deg, #d90b7d, #f5afdb, #0b2162, #0b63cf);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

/* fmsn AM backup pallete */

/* body {
  background: linear-gradient(-45deg, #d90b7d, #f5afdb, #156e48, #156e48);
  background-size: 400% 400%;
  animation: gradient 13s ease infinite;
  height: 100vh;
} */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* spotify color pallete */

/* body {
  background: linear-gradient(-45deg, #191414, #1db954, black);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  height: 100vh;
} */

/* youtube color pallete */

/* body {
  background: linear-gradient(-45deg, #ff0000, #d3d3d3, #282828, #ff0000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
} */

/* soundcloud color pallete */

/* body {
  background: linear-gradient(-45deg, #ff3300, #ff8800, #fff);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  height: 100vh;
} */
