#link {
  text-decoration: none;
}

h1,
h2 {
  color: grey;
}

#mainContainer {
  margin: auto;
  text-align: center;
}

#linkContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
}

h3 {
  color: white;
  font-size: 2em;
}

#spotifyLink,
#youtubeLink,
#soundcloudLink {
  padding: 0.25em;
  border: solid 0.15em white;
  /* background: linear-gradient(-45deg, #1db954, #191414); */
}
