#link {
  text-decoration: none;
}

h1,
h2 {
  color: white;
}

#mainContainer {
  margin: auto;
  text-align: center;
}

#linkContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
}

h3 {
  color: white;
  font-size: 2em;
}
