#navbar {
  border: solid 0.25em white;
  margin: 0.7em;
}

#logo {
  margin: 0.5em;
  padding-left: 1em;
  display: inline;
}

#link {
  cursor: pointer;
}

#loginLink {
  float: right;
  margin-right: 1em;
  padding: 0.25em;
  border: solid 0.15em white;
}
