#profilePage {
  position: absolute;
}

#welcome,
#savedSongs {
  position: relative;
  left: 1em;
}

#leftArrow,
#rightArrow,
#view,
#removeBtn,
#removeUser {
  color: white;
  position: relative;
  left: 1em;
  cursor: pointer;
  background: transparent;
  border: solid white 0.2em;
  font-size: 2em;
}

#spotifyPlayer {
  position: relative;
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

#removeBtn {
  margin-bottom: 1.5em;
}
